---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* path to glyphicons */
$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/* pleiades-specific bootstrap overrides */

$pleiades-blue:							#2576AD;
$pleiades-panel-border-color:			#bbb;
$pleiades-panel-shadow-color:			#ddd;
$font-family-base:						"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family:					"Helvetica Neue", Helvetica, Arial, sans-serif;
$pbrand-font-family: 					Trajan, "Crimson Text", "Times New Roman", serif;
$navbar-default-color:					white !default;
$navbar-default-bg:						$pleiades-blue !default;
$navbar-default-link-color:             white !default;
$navbar-default-brand-color: 			white !default;
$navbar-default-brand-hover-color:      white !default;
$navbar-default-toggle-icon-bar-bg:		white !default;
$font-size-base:          				14px !default;
$jumbotron-font-size:            		ceil(($font-size-base * 1.2)) !default;
$jumbotron-heading-font-size:    		ceil(($font-size-base * 2)) !default;

// bootstrap 
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/theme";

// jqueryui
@import "../bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css";

// basic customizations and mixin definitions (must be first)
@import "readeasy";
@import "whitespace";

// individual customizations
@import "abbr";
@import "bodytext";
@import "breadcrumbs";
@import "btn";
@import "dogear";
@import "footer";
@import "headings";
@import "lede";
@import "navigation";
@import "sidebar";
