<!-- Dublin Core metadata -->
<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
<link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" />
<meta name="DC.title" property="dc:title" itemprop="name" lang="en" content="{{ page.title }}"/>

{% if page.description %}
<meta name="DC.description" property="dc:description" itemprop="description" lang="en" content="{{ page.description }}"/>
{% endif %}

{% if page.subjects %}
<meta name="DC.subject" property="dc:subject" itemprop="about" lang="en" content="{{ page.subjects }}"/>
{% endif %}

<meta name="DC.type" property="dc:type" lang="en" content="Text"/>

{% if page.created %}
<meta name="DC.created" property="dc:date" content="{{ page.created }}"/>
{% capture year_created %}{{ page.created | slice: 0, 4 }}{% endcapture %}
{% endif %}

{% if page.modified %}
<meta name="DC.modified" property="dc:date" content="{{ page.modified }}"/>
{% capture year_modified %}{{ page.modified | slice: 0, 4 }}{% endcapture %}
{% endif %}

{% capture year_range %}{% if year_modified != year_created %}{{ year_created }}-{{ year_modified }}{% else %}{{ year_created}}{% endif %}{% endcapture %}

<meta name="DC.publisher" property="dc:publisher" itemprop="publisher" lang="en" content="{{ site.publisher }}"/>

<meta name="DC.language" property="dc:language" itemprop="inLanguage" content="{% if page.language %}{{ page.language }}{% else %}{{ site.language }}{% endif %}"/>

<meta name="DC.rights" property="dc:rights" itemprop="copyrightHolder" lang="en" content="{% if page.copyright %}Copyright © {{ year_range }} {{ page.copyright }}{% else %}{{ site:copyright }}{% endif %}."/>

<meta name="DCTERMS.license" property="dcterms:license" content="{% if page.license %}{{ page.license }}{% else %}{{ site.license }}{% endif %}"/>

<meta name="DCTERMS.bibliographicCitation" property="dcterms:bibliographicCitation" lang="en" content="{% if page.citation %}{{ page.citation }}{% else %}{{ page.creators }}. &quot;{{ page.title }}.&quot; Pleiades, {{ year_range }}. {{ site.url }}{{ page.permalink }}.{% endif %}"/>

<meta name="DC.identifier" property="dc:identifier" itemprop="url" content="{{ site.url }}{{ page.permalink }}"/>
    
<!-- end of Dublin Core metadata -->
