
<footer>
  <div class="pleiades-rights text-center">
  	<p>
  	{% if page.copyright %}
  	This page: Copyright © {{ year_range }} {{ page.copyright }}.
  	{% else %}
    Site content is governed by the copyrights of the <a href="http://pleiades.stoa.org/credits/">individual contributors</a> responsible for its creation. 
      Some rights are reserved.
    {% endif %} 
    <br />All content is distributed under the terms of a Creative Commons Attribution license (cc-by).</p>
    <p>Software is 100% open source, governed by various copyrights and licenses. Consult <a href="https://github.com/isawnyu/pleiades-gazetteer#code-plone-buildout">the individual packages</a> for details.</p>
  </div>
</footer>

<script src="{{ site.baseurl }}/bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
