@charset 'utf-8';

p, ul:not(.nav), ol:not(.breadcrumb), dl {
    @include readeasy-mixin;
    @include whitespace-default;
    @include whitespace-sm-min;
}

ul:not(.nav), ol:not(.breadcrumb) {
    padding-left: 20px;
    @media (min-width: $screen-sm-min) {
        padding-left: 40px;
    }
}

ul:not(.nav) > li, ol:not(.breadcrumb) > li {
    @media (min-width: $screen-sm-min) {
        margin-bottom: .3em;
    }
}

dl > dd + dt {
    margin-top: .3em;
    @media (min-width: $screen-sm-min) {
        margin-top: 1em;
    }
}

hr {
    @include readeasy-mixin;
}
