@charset 'utf-8';

$footer-p-width: 800px;

footer {
    background-color: $gray-lighter;
    margin-top: 1em;
    padding: 1em;
    text-align: center;
    @include discrete-mixin;

    p: {
        margin: 1em 0 0;
        max-width: $footer-p-width;
    }

    p:first-child {
        margin-top: 0;
    }

    br {
        display: none;
    }

    @media (min-width: $reading-width) {
    /* @media (min-width: $w-superwide-min) { */
        > div {
            margin-left: auto;
            margin-right: auto;
            padding-left: 0;
            padding-right: 0;
            width: 800px;
        }
        br {
            display: block;
        }
        p { 
            width: $footer-p-width;
            max-width: $footer-p-width;
        }

    }
}

