@charset 'utf-8';

.lede {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.lede > * {
    @media (min-width: $screen-sm-min) {
        max-width: $screen-md-min !important;
        width: 80vw;
    }
}
