@charset 'utf-8';
$w-vert-default: 10px;
$w-vert-sm-min: 20px;
$w-superwide-min: 1000px;

#content {
	padding: $w-vert-default;
	@media (min-width: $screen-sm-min) {
		padding: $w-vert-sm-min $w-vert-default $w-vert-sm-min;
	}
    line-height: 1.5;	
}

@media (min-width: $screen-sm-min) {
	#content > *  {
		margin-top: 0;
	}
	#content h1 {
		margin-top: 0;
		line-height: $font-size-h1;
	}
}

@mixin whitespace-default {
    margin: $w-vert-default 0 $w-vert-default;
}

@mixin whitespace-sm-min {
    @media (min-width: $screen-sm-min) {
        margin: $w-vert-sm-min auto $w-vert-sm-min;
    }
}

body {
    padding-top: 50px;
}

div > *:last-child {
    margin-bottom: 0;
}
