---
#layout: compress
---

{% include default-top.html %}
<div class="container-fluid" id="content-container">
	<div class="content-main">
		{% include default-content.html %}
		{% include default-attribution.html %}
	</div>
	<div class="sidebar help-indexes">
		<h2>Help Categories:</h2>
		<ul>
			<li><a href="using-pleiades-data">Using Pleiades Data</a></li>
			<li><a href="adding-data-to-pleiades">Adding Data to Pleiades</a></li>
			<li><a href="policies">Policies</a></li>
			<li><a href="user-profile-and-settings">Community Resources</a></li>
			<li><a href="concepts">Concepts and Features</a></li>
		</ul>
	</div>
</div>
{% include default-bottom.html %}

